<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container">
      <h1 class="display-4">Welcome to the future of voting!</h1>
      <p class="text-muted">To get started with voting, log in or sign up using the links above.</p>
      <p class="text-muted">We take pride in our security; as a result, we make it virtually impossible to determine
        someone else's vote, while also preventing people from counting their votes more than one time.
      </p>
      <p class="text-muted">We transfer all data securely through TSL encryption, and all personal information
        is kept also in an encrypted form.
      </p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
