<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">These are the polls that have been closed.</h1>
    <h2 class="text-center">Click on the links to access the pages.</h2>
    <% if (results.length == 0) { %>
      <h3>No polls have completed yet, please check out the <a href="/polls/open">open polls</a>.</h3>
    <% } else { %>
    <ul>
      <% for(let i = 0; i < results.length; i++) { %>
      <li>
          <a href="/polls/closed/<%= results[i].id %>"><%= results[i].name %></a>
      </li>
      <% } %>
    </ul>
    <% } %>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
