<div id="login" v-cloak>
        <div class="container">
          <h1 class="text-center">Poll: <%= name %> Results</h1>
          <h2>Results:</h2>
          <% if (winners.length == 0) { %>
            <h3>There were no winners for this poll.</h3>
          <% } else if (winners.length > 1) { %>
            <h3>These candidates were tied:</h3>
            <ul> <!-- List the candidates who tied. -->
              <% for(let i = 0; i < winners.length; i++) { %>
                <li>
                  <%= winners[i].fullName %>
                </li>
              <% } /* end the for loop */ %>
            </ul>
          <% } else { %> <!-- clear winner of the election -->
            <h3>Winner: <%= winners[0].fullName %></h3>
          <% }%>

          <!-- Keep votes private -- if only one or less voters, don't say who they were. -->
          <% if (votedUsers.length > 1) { %>
            <h2 class="mt-5">Voters:</h2>
            <ul>
              <% for(let i = 0; i < votedUsers.length; i++) { %>
                <li>
                  <%= votedUsers[i] %>
                </li>
              <% } %>
            </ul>
            <h2 class="mt-5">Non-voters:</h2>
            <ul>
              <% for(let i = 0; i < nonVotedUsers.length; i++) { %>
                <li>
                  <%= nonVotedUsers[i] %>
                </li>
              <% } %>
            </ul>
          <% } else { %>
            <h4>There weren't enough voters to list without disclosing who they voted for.</h4>
          <% } %>
        </div>
      </div>
      <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
