
  <div id="login" v-cloak>
    <div class="container">
      <h1 class="text-center">Poll Creation</h1>
      <form action="/polls/start" method="POST">
        <div class="form-group">
          <input type="hidden" id='current' name="currentCandidates" value="" />
          <input type="hidden" id='new' name="newCandidates" value="" />
          Poll Name: <br>
          <input type="text" name="electionName"  /><br><br>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          Create New Candidate: <br>
          Full Name: <input type="text" id="newCandidateName"  /><br>
          Bio: <input type="text" id="newCandidateBio"  /><br>
          <button type="button" onclick="addCandidate()">Add New Candidate to Poll</button><br><br>
          <% for(let i = 0; i < candidates.length; i++) { %>
            <input type="checkbox" onchange="checkCandidate(this)" value=<%= candidates[i].id %>><%= candidates[i].fullName %><br>
            <p><%= candidates[i].bio %></p>
          <% } /* end the for loop */ %>
          <ul id='newlyMadeCandidates'></ul>
          <input type="submit" value="Submit Poll">
        </div>
      </form>
    </div>
  </div>

  <script>
    let newCandidates = document.getElementById('new');
    newCandidates.value = JSON.stringify({});
    let current = document.getElementById('current');
    current.value = JSON.stringify({});

    function checkCandidate(candidate) {
      let current = document.getElementById('current');
      let currentCandidates = current.value;
      currentCandidates = JSON.parse(currentCandidates);
      if(candidate.checked) {
        currentCandidates[candidate.value] = true;
        current.value = JSON.stringify(currentCandidates);
      }
      else {
        delete currentCandidates[candidate.value];
        current.value = JSON.stringify(currentCandidates);
      }
    }

  function addCandidate() {
    let newCandidateName = document.getElementById('newCandidateName');
    let newCandidateBio = document.getElementById('newCandidateBio');
    let name = newCandidateName.value;
    let bio = newCandidateBio.value;
    if(!name || !bio) {
      return;
    }
    newCandidateName.value = "";
    newCandidateBio.value = "";
    let newCandidates = document.getElementById('new');
    newCandidatesList = JSON.parse(newCandidates.value);
    newCandidatesList[name] = bio;
    newCandidates.value = JSON.stringify(newCandidatesList);
    let newCandidateInformation = document.createElement('li');
    newCandidateInformation.innerHTML = name + "<br />" + bio;
    document.getElementById('newlyMadeCandidates').appendChild(newCandidateInformation);
  }
  </script>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  