
  <div id="vote" v-cloak>
    <div class="container">
      <h1 class="text-center">Poll: <%= poll.name %></h1>
      <h2 class='text-left'>Candidates:</h2>
      <% if (hasVoted) { %>
        <% for(let i = 0; i < poll.candidates.length; i++) { %>
          <p><%= poll.candidates[i].fullName %><br><%= poll.candidates[i].bio %></p>
        <% } /* end the for loop */ %>
      <% } else { %>
          <ajax-form action="vote" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
            <div class="form-group border">
            <% for(let i = 0; i < poll.candidates.length; i++) { %>
              <input id="candidate<%= i %>" type="radio" v-model.trim="formData.candidate" value=<%= poll.candidates[i].id %>>
                <label for="candidate<%= i %>"><%= poll.candidates[i].fullName %></label><br>
              <p><%= poll.candidates[i].bio %></p>
            <% } /* end the for loop */ %>
          </div>
          <div class="form-group">
            <input id="agree" type="radio" v-model.trim="formData.election" value="<%= poll.id %>">
            <label for="agree">I understand my vote can not be changed</label><br>
          </div>
            <div class="form-group">
              <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Submit Vote</ajax-button>
            </div>
          </ajax-form>
        <% }%>
    </div>
  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
