<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">Polls currently open</h1>
    <% if (results.length == 0) { %>
      <h2>There are currently no polls currently open, please check back later.</h2>
    <% } else if (isLoggedIn) { %>
    <ul> <!-- User is logged in and there are results, make the links clickable -->
      <% for(let i = 0; i < results.length; i++) { %>
      <li style="margin-bottom: 1px">
        <a style="float: left;" href="/polls/open/<%= results[i].id %>"><%= results[i].name %></a>
        <% if (isLoggedIn.isSuperAdmin) { %>
          <a style="float: right;" href="/polls/finish-poll/<%= results[i].id %>">close</a>
        <%}%>
      </li>
      <% } /* end the for loop */ %>
    </ul>
    <% } else { %> <!-- User is not logged in, show the list, but not links -->
    <ul> <!-- User is logged in and there are results, make the links clickable -->
      <% for(let i = 0; i < results.length; i++) { %>
        <li>
          <%= results[i].name %>
        </li>
      <% } /* end the for loop */ %>
    </ul>
    <p>Please sign in to vote in the polls above.</p>
    <% }%>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
